.title {
    font-size: medium;
    color: #84ba64;
    padding-left: 50px;
}
.error {
    color: red;
}
.formWrapper {
    padding-left: 50px;
}
.renderFibo {
    white-space: pre-line;
    padding-left: 30px;
}
.groupInput {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding-bottom: 10px;
}
.App {
    display: flex;
}
.wrapperApp {
    width: 50%;
    overflow: auto;
}
